:root {
  --bg-1: linear-gradient(
    to bottom right,
    rgb(238, 236, 236),
    rgb(202, 201, 201)
  );
  --bg-2: grey;
  --bg-3: #29314d;
  --bg-4: #101527;
  --bg-5: #010203;
  --blue-1: #4488aa;
  --blue-2: #38718e;
  --blue-3: #2d5366;

  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(
      #1d1d1d 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      transparent 50%,
      transparent 75%,
      #242424 75%,
      #242424
    );
  background-color: #131313;
  background-size: 20px 20px;
}
* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

* {
  box-sizing: border-box;
  transition: all 0.1s;
}
*:disabled {
  opacity: 0.8;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: grey;
}

textarea {
  font-size: 1em;
  border-radius: 1rem;
  outline: none;
  border: 0;
  padding: 0.5rem;
  font-family: inherit;
  box-shadow: inset 0 1px 6px #00000082;
  background: rgb(240, 240, 240);
  color: black;
  &:focus {
    outline: 2px solid var(--blue-1);
  }
}

.message {
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: inset 0 7px 4px #ffffff34, inset 0 0 15px #0000006f;
  min-width: 5rem;
  max-width: 80vw;
  width: fit-content;
  &.incoming {
    background: rgb(233, 231, 231);
    color: black;
  }
  &.outgoing {
    background: var(--blue-2);
  }
}

p {
  margin-top: 0.15rem;
  margin-bottom: 0.5rem;
  &:last-child {
    margin-bottom: 0;
  }
  &:first-child {
    margin-top: 0;
  }
}

pre {
  max-width: 100%;
  word-wrap: break-word;
  display: block;
  white-space: normal;
  background: white;
  border-radius: 0.3rem;
  padding: 0.25rem 0.5rem;
  box-shadow: inset 0 0 0 1px lightgray;
}

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #aaaaaa;
  color: #aaaaaa;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #aaaaaa;
  color: #aaaaaa;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #aaaaaa;
  color: #aaaaaa;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #cdcdcd;
  }
  50%,
  100% {
    background-color: #aaaaaa;
  }
}

hr {
  opacity: 0.5;
  margin-top: 0;
}

.copycode-btn {
  font-family: system-ui, sans-serif;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.2;
  }
}

ul,
ol {
  padding-left: 0.9rem;
}
